@import "tailwindcss";
@import "@fontsource/fira-sans/200.css";
@import "@fontsource/fira-sans/400.css";
@import "@fontsource/fira-sans/600.css";
@import "@fontsource/fira-sans/700.css";

@theme {
  --color-primary: #54defd;
  --color-secondary: #49c6e5;
  --color-accent: #00bd9d;
  --color-snow: #fffbfa;
  --color-blue: #8bd7d2;
  --color-sandy: #f49e4c;
}
